<!DOCTYPE html>
<html>
<!--
This HTML file is used by the Vue.js build process to generate the final index.html file that is served to the client.
Here is defined the basic HTML structure for the application.
During the build process tags like <title> hold placeholders are replaced with
values based on the project's configuration and build settings, and the
resulting file is saved as index.html.
The file name and location can be changed in vue.config.js
-->
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="icon" type="image/ico" href="favicon.ico">
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
<!--
the q-app div is the root element of the application.
It is mandatory, it contains the entire Quasar application and its child components.
-->
  </body>
</html>
